html {
    background-color: #f0f0f0;
}

body {
    margin: 0;
    background-color: inherit !important;
}

#root {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    background-color: inherit;
}

.brand {
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 100vw;
    background-color: #152935;
}

.brand__subtitle {
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 3px;
}

.brand__title {
    color: white;
    margin: 0px 0 0;
    font-family: 'Codystar', 'Times New Roman', cursive;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
}

#status-bar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 5px 0;
    padding: 10px;
}

.container__main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.container__uploader,
.container__uploading,
.container__uploaded {
    display: none;
}

.container__uploaded {
    flex-flow: column nowrap;
    align-items: center;
}

.uploaded-image {
    position: relative;
}

.the-actual-image {
    width: 500px;
}

.face-box {
    position: absolute;
    border: 1px dotted black;
    outline: 1px dotted white;
}